<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>관리자-물품관리</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <th:block th:replace="/fragments/admin/head.html :: head"></th:block>
</head>

<body>
    <div th:replace="/fragments/admin/navbar.html :: navbarfragment"></div>
    <!-- 메인이미지 -->
    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" th:src="@{/img/header/005.png}" alt="Image">
                </div>
            </div>
        </div>
    </div>

    <!-- Product Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6">
                    <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <h1 class="display-5 mb-3 headerfont">admin상품관리페이지 </h1>
                        
                        <!-- <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p> -->
                    </div>
                </div>
                <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary border-2 active" th:href="@{/admin/product/insert.do}">상품등록하기</a>
                        </li>
                        <li class="nav-item me-2">
                            <!-- <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" href="#tab-1">음료</a> -->
                            <a class="btn btn-outline-primary border-2 active" th:href="@{/admin/product/list.do(category='drink')}">음료</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary border-2 active" th:href="@{/admin/product/list.do(category='dessert')}">디저트</a>
                        </li>
                        <li class="nav-item me-0">
                            <!-- <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-3">물품</a> -->
                            <a class="btn btn-outline-primary border-2 active" th:href="@{/admin/product/list.do(category='goods')}">상품</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content" >
                <div th:if="${#strings.toString(param.category) == 'drink'}" class="tab-pane fade show p-0 active">
                    <div class="row g-4" >
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" th:each="tmp, idx : ${drinklist}">
                            <form th:action="@{/admin/product/delete.do}" method="post" id="form">
                                <div class="product-item">
                                    <div class="position-relative bg-light overflow-hidden">
                                        <img class="img-fluid w-100" style="width: 200px; height:400px;" th:src="@{${tmp.image} }">
                                        <!-- <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">New</div> -->
                                    </div>
                                    <div class="text-center p-4">
                                        <a class="d-block h5 mb-2 fontmalgun" th:text="${tmp.name}"></a>
                                        <span class="text-primary me-1 fontmalgun" th:text="|물품번호:${tmp.no}|"></span><br/>
                                        <span class="text-primary me-1 fontmalgun" th:text="|가격:${tmp.price}원|"></span><br/>
                                        <span class="text-primary me-1 fontmalgun" th:text="|카테고리:${tmp.category}|"></span>
                                        <input type="hidden" name="no" th:value="${tmp.no}">
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="w-50 text-center border-end py-2">
                                            <!-- <a class="text-body" href=""><i class="fa fa-eye text-primary me-2"></i>View detail</a> -->
                                            <!-- <a input type="hidden" th:onclick="|javascript:adminItem(1)|">삭제</a> -->
                                            <!-- <input type="button" value="삭제" th:onclick="|javascript:adminItem(1)|"/> -->
                                            <input type="hidden" th:value="${tmp.category}" name="category">
                                            <input class="text-body" type="submit" value="삭제" style="background-color:transparent; border:0px transparent solid;">
                                        </small>
                                        <small class="w-50 text-center border-end py-2">
                                            <a th:href="@{/productimage/insert2.do(no=${tmp.no})}">사진관리</a>
                                        </small>
                                        <small class="w-50 text-center py-2">
                                            <a th:href="@{/admin/product/update.do(no=${tmp.no})}">수정하기</a>
                                        </small>
                                    </div>
                                </div>
                            </form>
                        </div>
                    <!-- drink 페이지네이션 -->
                    <div style="width: 100%; display: inline-block; text-align: center;">
                        <th:block th:each="i : ${#numbers.sequence(1, pages)}" >
                            <a class="a-link" th:href="@{/admin/product/list.do(category=${param.category}, page=${i})}" th:text="${i}"></a>
                        </th:block>
                    </div>
                    </div>
                    </div>
                <div th:if="${#strings.toString(param.category) == 'dessert'}">
                    <div class="row g-4">
                        <div class="col-xl-3 col-lg-4 col-md-6"  th:each="tmp, idx : ${desertlist}">
                            <form th:action="@{/admin/product/delete.do}" method="post" id="form">
                                <div class="product-item">
                                    <div class="position-relative bg-light overflow-hidden">
                                        <img class="img-fluid w-100" style="width: 200px; height:400px;"  th:src="@{${tmp.image} }">
                                    </div>
                                    <div class="text-center p-4">
                                        <a class="d-block h5 mb-2 fontmalgun" th:text="${tmp.name}"></a>
                                        <span class="text-primary me-1 fontmalgun" th:text="|물품번호:${tmp.no}|"></span><br/>
                                        <span class="text-primary me-1 fontmalgun" th:text="|가격:${tmp.price}원|"></span><br/>
                                        <span class="text-primary me-1 fontmalgun" th:text="|카테고리:${tmp.category}|"></span>
                                        <input type="hidden" name="no" th:value="${tmp.no}">
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="w-50 text-center border-end py-2">
                                            <!-- <a class="text-body" href=""><i class="fa fa-eye text-primary me-2"></i>View detail</a> -->
                                            <!-- <input type="submit" value="삭제"> -->
                                            <!-- <a input type="hidden" th:onclick="|javascript:adminItem(1)|">삭제</a> -->
                                            <input type="hidden" th:value="${tmp.category}" name="category">
                                            <input class="text-body" type="submit" value="삭제" style="background-color:transparent; border:0px transparent solid;">
                                            <!-- <input type="button" value="삭제" th:onclick="|javascript:adminItem(1)|"/> -->
                                        </small>
                                        <small class="w-50 text-center border-end py-2">
                                            <a th:href="@{/productimage/insert2.do(no=${tmp.no})}">사진관리</a>
                                        </small>
                                        <small class="w-50 text-center py-2">
                                            <a th:href="@{/admin/product/update.do(no=${tmp.no})}">수정하기</a>
                                        </small>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- drink 페이지네이션 -->
                        <div style="width: 100%; display: inline-block; text-align: center;">
                            <th:block th:each="i : ${#numbers.sequence(1, pages)}" >
                                <a class="a-link" th:href="@{/admin/product/list.do(category=${param.category}, page=${i})}" th:text="${i}"></a>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div th:if="${#strings.toString(param.category) == 'goods'}">
                    <div class="row g-4">
                        <div class="col-xl-3 col-lg-4 col-md-6"  th:each="tmp, idx : ${goodslist}">
                            <form th:action="@{/admin/product/delete.do}" method="post" id="form">
                                <div class="product-item">
                                    <div class="position-relative bg-light overflow-hidden">
                                        <img class="img-fluid w-100" style="width: 200px; height:400px;"  th:src="@{${tmp.image} }">
                                    </div>
                                    <div class="text-center p-4">
                                        <a class="d-block h5 mb-2 fontmalgun" th:text="${tmp.name}"></a>
                                        <span class="text-primary me-1 fontmalgun" th:text="|물품번호:${tmp.no}|"></span><br/>
                                        <span class="text-primary me-1 fontmalgun" th:text="|가격:${tmp.price}원|"></span><br/>
                                        <span class="text-primary me-1 fontmalgun" th:text="|카테고리:${tmp.category}|"></span>
                                        <input type="hidden" name="no" th:value="${tmp.no}">
                                    </div>
                                    <div class="d-flex border-top">
                                        <small class="w-50 text-center border-end py-2">
                                            <!-- <a class="text-body" href=""><i class="fa fa-eye text-primary me-2"></i>View detail</a> -->
                                            <!-- <input type="submit" value="삭제"> -->
                                            <!-- <a input type="hidden" th:onclick="|javascript:adminItem(1)|">삭제</a> -->
                                            <input type="hidden" th:value="${tmp.category}" name="category">
                                            <input class="text-body" type="submit" value="삭제" style="background-color:transparent; border:0px transparent solid;">
                                            <!-- <input type="button" value="삭제" th:onclick="|javascript:adminItem(1)|"/> -->
                                        </small>
                                        <small class="w-50 text-center border-end py-2">
                                            <a th:href="@{/productimage/insert2.do(no=${tmp.no})}">사진관리</a>
                                        </small>
                                        <small class="w-50 text-center py-2">
                                            <a th:href="@{/admin/product/update.do(no=${tmp.no})}">수정하기</a>
                                        </small>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- goods 페이지네이션 -->
                        <div style="width: 100%; display: inline-block; text-align: center;">
                            <th:block th:each="i : ${#numbers.sequence(1, pages)}" >
                                <a class="a-link" th:href="@{/admin/product/list.do(category=${param.category}, page=${i})}" th:text="${i}"></a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!-- Product End  -->

    <div th:replace="/fragments/admin/footer.html :: footerfragment"></div>

    <script>
        const adminItem = (type)=>{
           // alert('버튼');//제대로 동작하는지 확인
           const form = document.getElementById('form');
           if(type==1){
               alert('삭제');
               form.action="[[@{/admin/product/delete.do}]]";
           }
           else if(type==2){
               alert('사진등록');
              // form.action="[[@{/productimage/insert.do(no=100001)}]]";
               // <a th:href="@{/boardimage/insert.do(no=${one.no})}">
           }
           form.submit();
       }
       
   </script>
</body>

</html>