<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>결제완료</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <th:block th:replace="/fragments/head.html :: head"></th:block>
</head>

<body>
    <div th:replace="/fragments/navbar.html :: navbarfragment"></div>

    <!-- header start-->
    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" th:src="@{/img/header/002.png}" alt="Image">
                </div>
            </div>
        </div>
    </div>
    <!-- header End -->

    <!-- Page Header Start -->
    <!-- <div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
        
    </div> -->
    <!-- Page Header End -->

    <!-- Contact Start -->
    <div>
        <div class="container-xxl py-6">
            <div class="container-xxl py-6" style="border: 1px solid rgba(168, 157, 157, 0.61); text-align: center;">
                <h1 class="display-5 mb-3 fontmalgun" style="text-align: center;">결제완료</h1>
                <p class="fontmalgun" style="text-align: center;">주문이 성공적으로 완료되었습니다.</p>
                <p class="fontmalgun" style="text-align: center;">주문 취소는 상단의 마이페이지>>주문내역에서 부탁드립니다.</p>
                <hr />
                
                <div class="row">

                </div>

                <div class="row">
                    <div class="col" >
                        <a th:href="@{/product/list.do}" ><input class="btn btn-primary rounded-pill py-3 px-5" type="button" value="상품 더보기" style="float: right;"  /></a>
                    </div>
                    <div class="col" >
                        <a th:href="@{/member/orderinfo/ing.do}"><input class="btn btn-primary rounded-pill py-3 px-5" type="button" value="주문내역확인" style="float: left;" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <div th:replace="/fragments/footer.html :: footerfragment"></div>

    
</body>

</html>