<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자-상품이미지</title>
</head>
<body>
    <h3>productimageinsert</h3>
    <form th:action="@{/productimage/insert.do}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="no" th:value="${obj}" readonly/>
        <input type="file" name="file" />
        <input type="submit" value="이미지등록" />
    </form>
    <table>
        <tr th:each="obj, idx : ${image}">
            <td>
                <p th:text="${obj.no}"></p>
                <img th:src="@{/productimage/image(no=${obj.no})}" style="width:100px" />
            </td>
        </tr>
    </table>
</body>
</html>