<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/Reviewselectlist.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/def66b134a.js" crossorigin="anonymous"></script>
    <title>나의 배송지목록</title>
    <link th:href="@{/css/order1.css}" rel="stylesheet">
    <th:block th:replace="/fragments/head.html :: head"></th:block>
</head>
<body>
    <div th:replace="/fragments/navbar.html :: navbarfragment"></div>

    
    <!-- header start-->
    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" th:src="@{/img/header/001.png}" alt="Image">
                </div>
            </div>
        </div>
    </div>
    <!-- header End -->

     
    
    <!-- 목록 시작 -->
    <div class="container-xxl py-6 border" style="margin-top: 100px;">
        <div class="container">
            <div class="section-header text-center mx-auto mb-10 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3 headerfont">배송지 목록</h1>
                <input style="width:100px; left: 200px; position: relative;" type="button" value="주소등록" data-bs-toggle="modal" data-bs-target="#addressModalForm"  />
                <hr />
                <div style=" margin: auto; min-width: 300px; max-width: 100%; width: 800px;">
                    <form method="post" id="addressform" >
                        <div th:each="tmp, idx : ${list}">
                            <div class="row mt-5">
                                <div class="col-sm-7 text-start" style="display: table;">
                                    <h5 class="fontmalgun" style="top: 25%; float: left; position: relative;">배송지</h5>
                                    <strong th:if="${tmp.rep == 1}" style="margin-left: 10px; color: #8fb7e5;">대표배송지</strong>
                                </div>
                                <div class="col-sm-5">
                                    <input style="border-radius: 10px;" class="btn btn-outline-dark" type="submit" value="대표로등록" th:onclick="|javascript:addressAction(1 ,'${tmp.no}')|" />
                                    <input style="border-radius: 10px;" class="btn btn-outline-dark" type="submit" value="삭제" th:onclick="|javascript:addressAction(2 ,'${tmp.no}')|" />
                                </div>
                            </div>
                            <div class="mt-3" style="border-top :2px solid #111111; border-bottom: 1px solid #cccccc; text-align: left;">
                                <div class="mt-3 row">
                                    <div class="col-sm-3">
                                        <label>우편번호</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <small th:text="${tmp.post}"></small>
                                    </div>
                                </div>
                                <div class="mt-3 row">
                                    <div class="col-sm-3">
                                        <label>주소</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <small th:text="${tmp.address}"></small>
                                    </div>
                                </div>
                                <div class="mt-3 row">
                                    <div class="col-sm-3">
                                        <label>상세주소</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <small th:text="${tmp.address2}"></small>
                                    </div>
                                </div>
                                <div class="mt-3 row">
                                    <div class="col-sm-3">
                                        <label>참고사항</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <small th:text="${tmp.address3}"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <hr style="height:1px; border:0; background:rgb(106, 106, 106);"/>


        
        <div style="font-size: 1.5em; text-align: center;" >
            <th:block th:each="i : ${#numbers.sequence(1, pages)}" style="margin: auto;">
                <a th:href="@{/member/orderinfo/myaddress.do(page=${i})}" th:text="${i}"></a>
            </th:block>
        </div>
    </div>
        
    <!-- 목록 끝 =============================================  -->

    <!-- 주소등록 Modal -->
    <div class="modal fade" id="addressModalForm" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
          <div class="modal-content">
              <!-- Login Form -->
              <div class="modal-header">
                <h5 class="modal-title fontmalgun">주소등록</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <form th:action="@{/address/insert.do}" method="post">
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <label style="width: 150px;">우편번호</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="sample6_postcode" name="post" placeholder="우편번호" style="width: 150px; display:inline;" readonly>
                                <input type="button" id="samplebtn" onclick="sample6_execDaumPostcode()" value="주소찾기">
                                <input type="button"  value="주소목록" data-bs-toggle="modal" data-bs-target="#addressModalForm">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label style="width: 150px;">주소</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="address" id="sample6_address" placeholder="주소" style="width: 400px;" readonly>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label style="width: 150px;">상세주소</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="address2" id="sample6_detailAddress" placeholder="상세주소" style="width: 400px; display:inline;">
                                <input type="text" class="form-control" name="address3" id="sample6_extraAddress" placeholder="참고항목" style="width: 150px;" readonly>
                            </div>
                        </div>
                    <div class="modal-footer pt-4">
                        <input type="submit" class="btn btn-primary rounded-pill py-3 px-5" id="addressinsert" value="등록하기" />
                    </div> 
                </form>
            </div>
        </div>
    </div>
    <!--주소등록 modal end-->

    <div th:replace="/fragments/footer.html :: footerfragment"></div>
    
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        const addressAction = (type , no) =>{

            // param page 값
            const urlParams = new URL(location.href).searchParams;

            const params = urlParams.get('page');
            var page = params;
            if(params == null){
                page = 1
            }
            console.log(page);

            // csrf 검증용 토큰
            var header = $("meta[name='_csrf_header']").attr('content');
            var token = $("meta[name='_csrf']").attr('content');
            
            const form = document.getElementById('addressform');
            
            const input1   = document.createElement('input');
            input1.setAttribute("type", "hidden");
            input1.setAttribute("name", "_csrf");
            input1.setAttribute("value", token);
            
            const input   = document.createElement('input');
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "no");
            input.setAttribute("value", no);

            const input2   = document.createElement('input');
            input2.setAttribute("type", "hidden");
            input2.setAttribute("name", "page");
            input2.setAttribute("value", page);

            if(type == 1){
                form.setAttribute("method", "post");
                form.action="[[@{/address/repupdate.do}]]";
                form.appendChild(input);
                form.appendChild(input1);
                form.appendChild(input2);
            }

            if(type == 2){
                form.setAttribute("method", "post");
                form.action="[[@{/address/delete.do}]]";
                form.appendChild(input);
                form.appendChild(input1);
            }
            form.submit();
        };

        // 주소찾기 시작
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
    
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수
    
                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }
    
                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample6_extraAddress").value = extraAddr;
                    
                    } else {
                        document.getElementById("sample6_extraAddress").value = '';
                    }
    
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }

        // 폼에 submit 이벤트가 일어 났을때 실행할 함수 등록
        document.querySelector("#addressModalForm").addEventListener("submit", function(e){
            if(document.getElementById('sample6_postcode').value == ""){
                e.preventDefault();
                alert('주소를 입력해 주세요.');
                document.getElementById('samplebtn').click();
            }
            else if(document.getElementById('sample6_address').value == ""){
                e.preventDefault();
                alert('주소를 입력해 주세요.');
                document.getElementById('samplebtn').click();
            }
            else if(document.getElementById('sample6_detailAddress').value == ""){
                e.preventDefault();
                alert('상세주소를 입력해 주세요.');
                document.getElementById('sample6_detailAddress').focus();
            }
        });
    </script>
</body>

</html>