body1{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}
.fontmalgun{
  font-family: Malgun Gothic;
}
.headerfont{
  font-family: Malgun Gothic;
}
/* START OF DEMO CSS - NOT NEEDED */
#fullscreen {
  position: fixed;
  top: 10px;
  right: 10px;
}
/* END OF DEMO CSS */
.modal-slacker {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.modal-slacker .modal-content {
	margin-top: 5%;
	border-radius: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	height: 80%;
	overflow: auto;
}

.modal-slacker .modal-header .close {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

.modal-slacker .modal-title {
	font-size: 34px;
	font-weight: bold;
}

@media (min-width: 992px) {
	.modal-slacker .modal-header,
	.modal-slacker .modal-body,
	.modal-slacker .modal-footer {
		width: 900px;
	}
}

@media (min-width: 768px) {
	.modal-slacker .modal-header,
	.modal-slacker .modal-body,
	.modal-slacker .modal-footer {
		width: 600px;
		margin: 30px auto;
	}
}

.bestreview {
  /* margin:100px; */
  display: block;
  /* width: 630px; */
  /* font-size: 20px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  height: 4.8em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4 ;
  -webkit-box-orient: vertical;
}

.bestreview1 {
  /* margin:100px; */
  display: block;
  /* width: 630px; */
  /* font-size: 20px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  /* height: 4.8em; */
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1 ;
  -webkit-box-orient: vertical;
}