<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>관리자-문의답글작성</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <th:block th:replace="/fragments/admin/head.html :: head"></th:block>
    <style>
        #container {
            width: 1000px;
            margin: 20px auto;
        }
        .ck-editor__editable[role="textbox"] {
            /* editing area */
            min-height: 200px;
        }
        .ck-content .image {
            /* block images */
            max-width: 80%;
            margin: 20px auto;
        }
    </style>
</head>

<body>
    <div th:replace="/fragments/admin/navbar.html :: navbarfragment"></div>

    <!-- header start-->
    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" th:src="@{/img/header/005.png}" alt="Image">
                </div>
            </div>
        </div>
    </div>
    <!-- header End -->

    <!-- Contact Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-6"></div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active" style="border: 1px solid rgb(231, 227, 227); padding: 100px;" >
                    <br/>
                    <br/>
                    <br/>
                    <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                        <h1 class="display-5 mb-3">답글작성</h1>
                    </div>
                    <div class="row g-5 justify-content-center">
                        <div class="col-lg-7 col-md-12 wow fadeInUp" >
                            <form th:action="@{/admin/qboard/repwrite.do}" method="post">
                                <div class="mb-3">
                                    <!-- <input type="text" value="RE:"> -->
                                    <input type="text" class="form-control" id="exampleFormControlInput1" name="title" th:value="|ㄴ[답변완료] ${board.title}|" readonly>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" name="originuserid" th:value="${board.userid}" readonly>
                                    <!-- <label for="exampleFormControlInput1" class="form-label"><i class="bi bi-check2-square"></i> 제목</label> -->
                                    <!-- <input type="text" class="form-control" id="exampleFormControlInput1" name="title"> -->
                                  </div>
                                  <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label"><i class="bi bi-check2-square"></i> 내용</label>
                                    <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="content" 
                                            th:text="|&#10;&#10;&#10;&#10;&#10;[ Original Message ] ${board.content}|">
                                    </textarea> -->
                                    <textarea  id="editor" name="content" class="CKEditor" th:text="|[ Original Message ] ${board.content}|"></textarea>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label"><i class="bi bi-check2-square"></i> 문의공개여부</label>
                                        &nbsp;&nbsp;<input type="radio" name="password" value="Y" class="radio" th:checked="${(board.password.equals('Y'))}" /><span class="ml_10">공개</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="password" value="N" class="radio" th:checked="${(board.password.equals('N'))}"/><span class="ml_10">비공개</span>
                                        <br/>
                                    </div>
                                  </div>
                                  <br/>
                                  <input type="hidden" th:value="${board.grp}" name="grp">
                                  <input type="hidden" th:value="${board.userid}" name="userid">
                                  <div style="text-align: center;">
                                    <input type="submit" value="답글등록" class="btn btn-primary rounded-pill py-3 px-5"/>
                                    <!-- <button class="btn btn-primary rounded-pill py-3 px-5" type="submit"><i class="bi bi-cursor"></i> 답글등록</button> -->
                                    <a class="btn btn-primary rounded-pill py-3 px-5" th:href="@{/admin/qboard/home.do}"><i class="bi bi-arrow-left-square"></i> 목록</a>
                                </div>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <!-- Contact End -->


    <div th:replace="/fragments/admin/footer.html :: footerfragment"></div>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.1/classic/ckeditor.js"></script>    
    <script>
        ClassicEditor.create( document.querySelector( '#editor' ), {
            toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
            htmlSupport: {
                allow: [
                    {
                        name: /.*/,
                        attributes: true,
                        classes: true,
                        styles: true
                    }
                ]
            },
            
            removePlugins: [ 'Heading' ],
            language: "ko",
            height: "50px",
            allowedContent : true,
            htmlEncodeOutput : false
        } );
        </script>
    </body>

</html>